In [69]:
#Import The needed Libraries
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.model_selection import cross_val_score

In [51]:
#Load the Data
data_set_2019 = pd.read_csv('./datasets/2018_2019.csv')
data_set_2020 = pd.read_csv('./datasets/2019_2020.csv')

In [52]:
#Combine the 2019 and 2020 Data 
combined_data = pd.concat([data_set_2019, data_set_2020], ignore_index=True, sort=False)

In [53]:
# Encode Teams from 1 to 23 values
teams_list = combined_data.HomeTeam.unique()
teams_list.sort()
teams_encode = {}
i=1
for team in teams_list:
    teams_encode[team] = i
    i += 1   
for team in teams_list:
    combined_data.loc[combined_data["HomeTeam"] == team , "HomeTeam"] = teams_encode[team]
    combined_data.loc[combined_data["AwayTeam"] == team , "AwayTeam"] = teams_encode[team]

In [54]:
#Encode the FTR 
# H=1, A=2, D=3
combined_data.loc[combined_data["FTR"] == "H", "FTR"] = 1
combined_data.loc[combined_data["FTR"] == "A", "FTR"] = 2
combined_data.loc[combined_data["FTR"] == "D", "FTR"] = 3

In [55]:
features = combined_data[["HomeTeam", "AwayTeam", "B365H", "B365D", "B365A"]]
label = combined_data[["FTR"]]

In [56]:
combined_data.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,10/08/2018,15,12,2,1,1,1,0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,11/08/2018,3,6,2,0,1,1,0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,11/08/2018,10,8,0,2,2,0,1,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,11/08/2018,11,7,0,3,2,0,2,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,11/08/2018,16,20,1,2,2,1,2,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
train_data, test_data = train_test_split(combined_data, test_size=0.1, random_state = 42)
train_data_features = train_data[["HomeTeam", "AwayTeam", "B365H", "B365D", "B365A"]]
train_data_labels = train_data[["FTR"]]
test_data_features = test_data[["HomeTeam", "AwayTeam", "B365H", "B365D", "B365A"]]
test_data_labels = test_data[["FTR"]]

In [58]:
train_data_features.head()

     HomeTeam  AwayTeam  B365H  B365D  B365A
72          8        23   3.00    3.2   2.62
182         8         6   1.66    4.0   5.75
131         8         5   1.61    3.9   6.50
410        19        15   3.80    3.3   2.05
193        13         1   1.50    4.5   5.75

In [59]:
train_data_labels.head()

     FTR
72     2
182    3
131    1
410    3
193    1

In [60]:
test_data_features.head()

     HomeTeam  AwayTeam  B365H  B365D  B365A
361         3        20   4.00   4.00    1.9
73         12         9   2.20   3.40    3.6
374        12         7   2.40   3.75    2.9
155        12        20   3.80   3.75    2.0
104        16        21   2.75   3.25    2.8

In [61]:
test_data_labels.head()

     FTR
361    1
73     2
374    3
155    2
104    1

In [68]:
# Decision Tree
dtree = DecisionTreeClassifier(random_state=42, max_depth=3)
dtree.fit(train_data_features, train_data_labels)
dtree.score(test_data_features, test_data_labels)

0.6

In [63]:
# Support Vector Machine
svm = svm.SVC(kernel='linear', C=1).fit(train_data_features, train_data_labels)
svm.score(test_data_features, test_data_labels)

/home/ara/.local/lib/python3.6/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.54