In [145]:
#Import The needed Libraries
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split

In [133]:
#Load the Data
data_set_2019 = pd.read_csv('./datasets/2018_2019.csv')
data_set_2020 = pd.read_csv('./datasets/2019_2020.csv')

In [134]:
#Combine the 2019 and 2020 Data 
combined_data = pd.concat([data_set_2019, data_set_2020], ignore_index=True, sort=False)

In [146]:
# Encode Teams from 1 to 23 values
teams_list = combined_data.HomeTeam.unique()
teams_list.sort()
teams_encode = {}
i=1
for team in teams_list:
    teams_encode[team] = i
    i += 1   
for team in teams_list:
    combined_data.loc[combined_data["HomeTeam"] == team , "HomeTeam"] = teams_encode[team]
    combined_data.loc[combined_data["AwayTeam"] == team , "AwayTeam"] = teams_encode[team]

In [147]:
#Encode the FTR 
# H=1, A=2, D=3
combined_data.loc[combined_data["FTR"] == "H", "FTR"] = 1
combined_data.loc[combined_data["FTR"] == "A", "FTR"] = 2
combined_data.loc[combined_data["FTR"] == "D", "FTR"] = 3

In [151]:
features = combined_data[["HomeTeam", "AwayTeam", "B365H", "B365D", "B365A"]]
label = combined_data[["FTR"]]

In [152]:
combined_data.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,10/08/2018,15,12,2,1,1,1,0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,11/08/2018,3,6,2,0,1,1,0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,11/08/2018,10,8,0,2,2,0,1,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,11/08/2018,11,7,0,3,2,0,2,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,11/08/2018,16,20,1,2,2,1,2,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [169]:
train_data, test_data = train_test_split(combined_data, test_size=0.1, random_state = 42)
train_data_features = train_data[["HomeTeam", "AwayTeam", "B365H", "B365D", "B365A"]]
train_data_labels = train_data[["FTR"]]
test_data_features = test_data[["HomeTeam", "AwayTeam", "B365H", "B365D", "B365A"]]
test_data_labels = test_data[["FTR"]]

In [163]:
train_data_features.head()

     HomeTeam  AwayTeam  B365H  B365D  B365A
249        22        13   8.00   5.25   1.40
433         9        18   1.61   3.75   6.00
19          8        13   7.00   5.00   1.44
322        16         8   2.60   3.25   3.00
332         8        14  11.00   6.00   1.30

In [168]:
train_data_labels.head()

     FTR
249    3
433    2
19     2
322    2
332    2

In [165]:
test_data_labels.head()

     FTR
361    1
73     2
374    3
155    2
104    1

In [166]:
test_data_labels.head()

     FTR
361    1
73     2
374    3
155    2
104    1